.input-field {
  display: flex;
  align-items: center;
  
 
  width: 608px;
  
 
  padding: 16px 8px;
  
  
  background-color: #ff3377;
  border: 1px solid #000000; 
  border-radius: 16px;       
  
  
  box-shadow: 4px 4px 0px #000000;
  
  box-sizing: border-box;
}


.icon-square {
 
  width: 344px;
  height: 100px;
  
  
  background-color: #ffd600;
  border: 1px solid #000000;
  border-radius: 16px;      
  box-shadow: 2px 2px 0px #000000;
  
  flex-shrink: 0;
}
























